@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.whole {
    padding: 10px;
    width: 100%;
}

.image1 {
    width: 60%;
}

.para {
    font-size: 10px;
}

.head1 {
    font-family: "system-ui";

}

.three {
    font-weight: bold;
}

.singam {

    width: 50%;
}

.booking {
    border: 10px;
}

.datee {
    font-weight: bold;
    border: none;
}

.check {
    font-weight: bold;
}

.one {
    border-right: 0.2px solid grey;
    height: 45px;
    position: absolute;
    left: 50%;


}